{% extends 'base.html' %}
{% block body %}
{% load static %}

<div class="app-content content ">
    {% comment %} <div class="content-wrapper"> {% endcomment %}
        {% comment %} <div class="content-wrapper-before"></div> {% endcomment %}
        <div class="content-header row">
            <br>
           <div class="col-md-10 col-lg-12">
                {% comment %} <div class="d-flex justify-content-between align-items-center">
                    <!-- Title on the left -->
                    <h4 class="title"></h4>
                    
                    <!-- Toggle Switch on the right -->
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1"></label>
                    </div>
                </div>  {% endcomment %}
            </div>
            
        </div>
        
        
        <section>
            <style>
                .custom-iframe {
                    width: 100%;
                    height: 335px;
                    border: 1px solid #ddd;
                }
            </style>
            {% comment %} {% load sweetify %} {% endcomment %}
    {% comment %} {% sweetify %} {% endcomment %}
            <div id="approval-container">
                

                {% include "usecase_one/horizonbody.html" %}
            </div>
        </section>
        
    {% comment %} </div> {% endcomment %}
</div>

{% endblock %}