{% load static %}
    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow navbar-static-top navbar-dark navbar-brand-center " style="background-color: #000000; box-shadow: 0 0 10px rgba(256, 256, 256, 0.6);">
        <div class="navbar-header">
            <br>
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                {% comment %} <li class="nav-item">
                    <a class="navbar-brand content-header-title" href="index.html"><img class="brand-logo" alt="creaative admin logo" src="{% static 'app-assets/images/logo/EYLogo.gif' %}">
                    </a></li>  {% endcomment %}
                <div class="navbar-brand mx-auto">
                    <a href="index.html">
                        {% comment %} <img class="brand-logo" alt="creative admin logo" src="{% static 'app-assets/images/logo/EYLogo.gif' %}"> {% endcomment %}
                    </a>
                </div> 
                
                 
                <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
            </ul>
        </div>
        <div class="navbar-wrapper">
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">

                        <div class="navbar-brand mx-auto">
                            <a href="index.html">
                                <img class="brand-logo" alt="creative admin logo" src="{% static 'app-assets/images/logo/ey_drk.png' %}">
                            </a>
                        </div> 
                        <li class="dropdown nav-item mega-dropdown d-none d-md-block"><a class="dropdown-toggle nav-link warning" href="{% url 'landing_page' %}">

                            {% comment %} <h4 style="color: white; font-weight: bold">Internal Audit Gen AI<span style="color: yellow; font-weight: bold"> Studio</span></h4> {% endcomment %}
                            <h4 style="color: yellow; font-weight: bold; display: inline-block; margin: 0;">AURA <span style="color: white; font-weight: bold; margin-left: 5px;">Audit Universe & Risk Assistant</span></h4>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav float-right">
                    
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
                        <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-bell bell-shake" id="notification-navbar-link"></i><span class="badge badge-pill badge-sm badge-danger badge-up badge-glow">2</span></a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <div class="arrow_box_right">
                                    <li class="dropdown-menu-header">
                                        <h6 class="dropdown-header m-0"><span class="grey darken-2">Notifications</span></h6>
                                        
                                    </li>
                                 
                                    <li class="scrollable-container media-list w-100">
                                        
                                        <a href="#" id="calhome-link">
                                            <div class="media">
                                                <div class="media-left align-self-center"><i class="ft-calendar font-medium-4 mt-2"></i></div>
                                                <div class="media-body">
                                                    <h6 class="media-heading info">Current Income Calculator from Personal Discussion</h6>
                                                        <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">10:00 AM</time></small>
                                                </div>
                                            </div>
                                        </a><a href="javascript:void(0)">
                                            <div class="media">
                                                <div class="media-left align-self-center"><i class="ft-message-circle font-medium-4 mt-2 warning"></i></div>
                                                <div class="media-body">
                                                    <h6 class="media-heading warning">Future Income Estimator from Viability Assessment </h6>
                                                        <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">10:05 AM</time></small>
                                                </div>
                                            </div>
                                        </a></li>
                                    <li class="dropdown-menu-footer"><a class="dropdown-item info text-right pr-1" href="javascript:void(0)">Read all</a></li>
                                </div>
                            </ul>
                        </li> 
                        <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"> <span class="avatar avatar-online"><img src="{% static 'app-assets/images/portrait/small/profile.ico' %}" alt="avatar"><i></i></span></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="arrow_box_right"><a class="dropdown-item" href="#"><span class="avatar avatar-online"><img src="{% static 'app-assets/images/portrait/small/profile.ico' %}" alt="avatar"><span class="user-name text-bold-700 ml-1">{{ user.username }}</span></span></a>
									{% if user.is_authenticated %}
                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'logout' %}"><i class="ft-power"></i> Logout</a>
									 {% else %}
									<div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'login' %}"><i class="ft-power"></i> Login</a>
									<div><a class="dropdown-item" href="#"><i class="ft-power"></i> Register</a>
									{% endif %}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    

    