{% load static %}
<style>
    .custom-iframe2 {
        width: 100%;
        height: 700px;
        border: 2px solid #ddd;
    }
</style>

{% comment %} <div class="card"> {% endcomment %}
<div class="card box-shadow-0 border-warning">
        <form method="post" action="{% url 'approvalwp' %}" hx-post="{% url 'approvalwp' %}" hx-trigger="submit"  hx-target="#approval_container" onsubmit="showProgressBar()">
            {% csrf_token %} 
         
        <div class="card-header">
            <div class="col-xl-11 col-lg-18">
                <h4 class="card-title primary">AUDIT TRAIL</h4>
                {% comment %} <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a> {% endcomment %}
            
            <!-- Progress Bar Container -->
                {% comment %} <div id="progressBarContainer" style="display:none;">
                    <div id="progressBar" style="width:0%; height: 30px; background-color: #4CAF50; text-align: center; line-height: 30px; color: white;">0%</div>
                </div>  {% endcomment %}


                <div id="progressBarContainer" style="display:none; height: 18px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="progressBar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%; height: 18px; text-align: center; line-height: 18px; color: white;"></div>
                </div>
                
                {% comment %} <div class="progress" style="display:none;" id="progressBarContainer">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%" id="progressBar">0%</div>
                </div> {% endcomment %}
            </div>

            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li>
                        <button type="submit" id="approval-submit" class="btn btn-sm btn-primary box-shadow-2 round btn-min-width pull-right">Generate Report</button>
                    </li>
                </ul>
            </div>
            
        </div>
     
        <div class="card-body pl-0 pr-0">
            <div id="todays-tasks">
                <div class="table-responsive">
                    <table class="table table-padded mb-0" id="recent-buyer-table">
                        <thead>
                            <tr>
                                <th><i class="ft-check-circle blue-grey font-medium-5"></i></th>
                                <th class="m-0">AUDIT NAME</th>
                                <th>YEAR</th>
                                {% comment %} <th>CONFIGURATION</th> {% endcomment %}
                                <th>MEETING TYPE</th>
                                <th>CONTROL NAME</th>  
                                {% comment %} <th><i class="ft-folder blue-grey font-medium-5 ml-1"></i></th> {% endcomment %}
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status</th>
                                {% comment %} Audit Report Generate 2 Audit Report Pending 3 Audit Report Failed{% endcomment %}
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;PROGRESS - STEP</th>
                                {% comment %} <th>DOWNLOAD</th> {% endcomment %}
                                
                                <th><i class="ft-download-cloud blue-grey font-medium-5 ml-1"></i></th>
                                <th>&nbsp;&nbsp;VIEW</th>
                                <th>PRE-PROCESS</th>
                                {% comment %} <th class="m-1"><i class="ft-clock blue-grey font-medium-5"></i> </th> {% endcomment %}
                                <th class="m-1">
                                    <i class="ft-clock blue-grey font-medium-5" style="padding-left: 10px;"></i>&nbsp;&nbsp;Time Stamp
                                </th>
                                {% comment %} <th>ACTIONS</th> {% endcomment %}
                                
                                {% comment %} <th><i class="ft-clock blue-grey font-medium-5 ml-1"></i></th> {% endcomment %}
                                <th>FOLDER</th>
                            </tr>
                        </thead>
                        
                        <tbody id="audit_table">
                            {% for audit in audits %}
                                <tr>
                                    <td class="text-truncate border-0">
                                        <input type="checkbox" class="chk-task" name="check[]" value="{{audit.id}}">
                                    </td>
                                    <td>
                                        <!-- Trigger for Modal --> 
                                        <a href="#" data-toggle="modal" data-target="#detailsModal{{ audit.id }}">
                                            {{ audit.audit_name }}
                                        </a>
           
                                        <!-- Modal for Audit Details -->
                                        
                                        <div class="modal fade text-left" id="detailsModal{{ audit.id }}" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel{{ audit.id }}" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <br>
                                                <br>
                                                <br>
                                                <div class="modal-content">
                                                    <div class="modal-header bg-warning">
                                                        <h5 class="modal-title" id="detailsModalLabel{{ audit.id }}">Audit Details for {{ audit.audit_name }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Table for Meeting Type and Control Name -->
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Meeting Type</th>
                                                                    <th>Control Name</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for folder in audit.attachedfolder_set.all %}
                                                                    <tr>
                                                                        <td>{{ folder.meeting_type }}</td>
                                                                        <td>{{ folder.control_name }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-left">
                                        <a href="mailto:email@example.com">{{ audit.audit_year }}</a>
                                    </td>
                                    <td>
                                        {% for folder in audit.attachedfolder_set.all %}
                                            {{ folder.meeting_type }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for folder in audit.attachedfolder_set.all %}
                                            {{ folder.control_name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>                               
                                    
                                    {% comment %} <td>
                                        <div class="media">

                                            <a href="{% url 'individualReport' audit.id %}">{{ audit.audit_name }}</a> 

                                        </div>
                                    </td>  {% endcomment %}
                                    
                                    
                                    


                                    <td class="text-left" id="audit_status_{{audit.id}}">
                                        {{ audit.audit_status }}
                                        
                                    </td>
                                    <td>
                                         <div class="progress progress-sm border-0">
                                            
                                            {% if audit.audit_status == 'Workpaper Report Uploaded' %}
                                            
                                                <div class="progress-bar bg-gradient-x-warning" role="progressbar" style="width: {{ audit.progress }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                            {% elif audit.audit_status == 'Workpaper Report Generated' %}
                                                <div class="progress-bar bg-gradient-x-success" role="progressbar" style="width: {{ audit.progress }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                            {% elif audit.audit_status == 'Workpaper Report Failed' %}
                                                <div class="progress-bar bg-gradient-x-danger" role="progressbar" style="width: {{ audit.progress }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                            {% else %}  
                                                <div class="progress-bar bg-gradient-x-success" role="progressbar" style="width:0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                            {% endif %} 
                                        </div> 
                                    </td> 
                                    
                                    <td>
                        
                                        <a href="{% url 'download_excel_wp' audit.id %}"><i class="ft-arrow-down blue-primary lighten-2 font-medium-5 ml-1"></i></a>
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#warning{{audit.id}}">
                                            {% comment %}  <a href="#"  hx-target="#approval-container" hx-swap="outerHTML">  {% endcomment %}
                                            <i class="ft-eye blue-primary lighten-2 font-medium-5 ml-1"></i>
                                        </a>
                                        <div class="modal fade text-left" id="warning{{audit.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
                                            <div class="modal-dialog modal-xl" role="document">
                                                <br>
                                                <br>
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="myModalLabel17">Output Report</h5>
                                                        <button type="button" class="close danger btn-secondary " data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                         
                                                    </div>

                                                    <div class="modal-body">
                                                   
                                                        <iframe src="{{ audit.out_putpath }}" class="custom-iframe2" frameborder="0"></iframe>
                                                        
                                                    </div>
                                                    {% comment %} <div class="modal-footer">
                                                        <button type="button" class="btn grey btn-secondary" data-dismiss="modal">Close</button>                                                
                                                    </div> {% endcomment %}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="font-size: smaller;">
                                        <i class="blue-grey font-medium-2 ml-0">Done</i>
                                    </td>
                                    <td style="font-size: smaller;">
                                        {{ audit.uploaded_at }}
                                    </td>
             
                                    <td>
                                        <div class="media">
                                            
                                            <a href="{% url 'individualReport' audit.id %}"><i class="ft-folder blue-primary lighten-2 font-medium-5 ml-1"></i></a> 
                                           
                                        </div>
                                    </td>

                                    {% comment %} <td>                                               
                                        <span class="dropdown">
                                            <button id="btnSearchDrop12" type="button" class="btn btn-sm btn-icon btn-pure font-medium-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="ft-more-vertical"></i>
                                            </button>
                                            <div aria-labelledby="btnSearchDrop12" class="dropdown-menu mt-1 dropdown-menu-right">

                                                <a href="#" class="dropdown-item">
                                                    <i class="ft-edit-2"></i> Edit</a>
      
                                                    <a id="process_result_btn_{{ audit.id }}" class="dropdown-item" href="#">
                                                        <i class="ft-plus-circle info"></i> Process Report
                                                    </a>
                                                <a href="#" class="dropdown-item" data-toggle="modal" data-target="#warning{{audit.id}}">
                                                    <i class="ft-upload primary"></i> Upload
                                                </a>
                                                <a href="#" class="dropdown-item" data-toggle="modal" data-target="#uploadedFiles{{audit.id}}">
                                                    <i class="ft-navigation warning"></i> Uploaded Data</a>

                                                <a id="download_result_btn_{{ audit.id }}" href="#" target="_blank" class="dropdown-item">
                                                    <i class="ft-download success"></i>Download_Report</a>
                                            </div>
                                        </span>
                                        
                                    </td> {% endcomment %}

                                </tr>
                            {% endfor %}
                            
                        </tbody>

                        
                    </table>
                
                </div>
            </div>
        </div>
    </form>
</div>

